<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC  
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
  
    <session-factory>  
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>  
        <property name="connection.url">jdbc:mysql://localhost:3306/LEAVEMANAGE1</property>  
        <property name="connection.username">root</property>  
        <property name="connection.password">abhi</property>  
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>  
    <mapping class="main.java.com.bean.EmpDetails"/> 
    <mapping class="main.java.com.bean.EmpLeave"/>
    <mapping class="main.java.com.bean.EmpLogin"/>
    <mapping class="main.java.com.bean.ManagerLeave"/>
    <mapping class="main.java.com.bean.User_Roles"/>     
    </session-factory>  
  
</hibernate-configuration> 